Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @milljm, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @aeslaughter, @zachmprince, @cticenhour, @andrsd, @loganharbour

View and load using PETSc interfaces
  .gitignore
  modules/navier_stokes/include/postprocessors/AreMatricesTheSame.h
  modules/navier_stokes/src/postprocessors/AreMatricesTheSame.C
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat.info
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Add *.mat to .gitignore
  .gitignore
Owners: none

More flexibility in matrix printing problem class
  modules/navier_stokes/src/problems/IPHDGNavierStokesProblem.C
Owners: @lindsayad, @GiudGiud

Add capability for testing matrix equivalence
  modules/navier_stokes/include/postprocessors/AreMatricesTheSame.h
  modules/navier_stokes/src/postprocessors/AreMatricesTheSame.C
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Add symmetric Stokes test
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/stokes-lid-driven_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/stokes-lid-driven.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

With matching order p_bar, matrices are the same, woohoo
  .gitignore
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat.info
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-pb.mat
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-pb.mat.info
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Run test on larger mesh (10x10)
  modules/navier_stokes/src/postprocessors/AreMatricesTheSame.C
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Try to invert pressure mass matrix
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
Owners: @lindsayad, @GiudGiud

Make IsMatrixSymmetric more robust
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/stokes-lid-driven.i
Owners: @lindsayad, @GiudGiud

Add eigenvalue computations
  modules/navier_stokes/include/problems/PrintMatricesNSProblem.h
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Some interesting matrix results
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Add gamma coefficient to our grad-div kernels
  modules/navier_stokes/include/bcs/MassFluxPenaltyBC.h
  modules/navier_stokes/include/dgkernels/MassFluxPenalty.h
  modules/navier_stokes/include/kernels/GradDiv.h
  modules/navier_stokes/src/bcs/MassFluxPenaltyBC.C
  modules/navier_stokes/src/dgkernels/MassFluxPenalty.C
  modules/navier_stokes/src/kernels/GradDiv.C
Owners: @lindsayad, @GiudGiud

Add second order MMS testing
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/mms-second-lid-driven.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/test.py
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Cleanup matrix test to focus on u-pb coupling
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-all-p.mat.info
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Add NumZeroEigenvalues postprocessor
  modules/navier_stokes/include/postprocessors/NumZeroEigenvalues.h
  modules/navier_stokes/src/postprocessors/AreMatricesTheSame.C
  modules/navier_stokes/src/postprocessors/NumZeroEigenvalues.C
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Ensure that jump and vel-pb still equiv when h != 1
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Non-Reynolds robust IP-HDG field split input
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/lid-driven-fsp.i
Owners: @lindsayad, @GiudGiud

Add combined grad_div and jump fe term matrix testing
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/second-order-matrix-testing.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

Beef up matrix testing
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/matrix-testing_out.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/second-order-matrix-testing.csv
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/vel-pb.mat.info
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Illustrate very effective pressure mass matrix preconditioning with FSP
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/lid-driven-fsp_out.e
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/lid-driven-fsp.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Error if PrintMatricesNSProblem is used with comm size > 1
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
Owners: @lindsayad, @GiudGiud

Add base physics for linear solver refs #27280 #25642
  modules/navier_stokes/include/physics/WCNSFVLinearFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Use segregated equations RC user object Rename some routines Use linear variables Remove friction kernels code & friction attributes refs #27280 #25642
  modules/navier_stokes/include/physics/WCNSFVLinearFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add pressure correction equation Remove more of the nonlinear momentum terms refs #27280 #25642
  modules/navier_stokes/include/physics/WCNSFVLinearFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add momentum linear discret. equation Clean up, compiles refs #27280 #25642
  modules/navier_stokes/include/physics/WCNSFVLinearFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add linear BC creation refs #27280 #25642
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Consolidate flow physics classes with a shared base class refs #27280 #25642:wq
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/include/physics/WCNSFVFlowPhysicsBase.h
  modules/navier_stokes/include/physics/WCNSFVLinearFlowPhysics.h
  modules/navier_stokes/src/base/NavierStokesApp.C
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/navier_stokes/src/physics/WCNSFVFlowPhysicsBase.C
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add test for physics w/ linear solver refs #27280 #25642
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/segregated-comparison/gold/segregated-linear-physics_out.e
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/segregated-comparison/segregated-linear-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/segregated-comparison/tests
Owners: @lindsayad, @GiudGiud

Add linear fv tasks to physics base Add linear variable check to PhysicsBase class refs #27280 #25642
  framework/include/physics/PhysicsBase.h
  framework/src/physics/PhysicsBase.C
Owners: none

Add test for physics w/ linear solver for a lid-driven cavity
  modules/navier_stokes/test/tests/finite_volume/ins/lid-driven/linear-segregated/gold/lid-driven-segregated-physics_out.e
  modules/navier_stokes/test/tests/finite_volume/ins/lid-driven/linear-segregated/lid-driven-segregated-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/lid-driven/linear-segregated/tests
Owners: @lindsayad, @GiudGiud

Use PetscAIJMatrix to avoid compile errors
  framework/include/preconditioners/VariableCondensationPreconditioner.h
  framework/src/preconditioners/VariableCondensationPreconditioner.C
  framework/src/utils/PetscDMMoose.C
  framework/src/utils/SlepcSupport.C
Owners: @fdkong

Don't use singleton mutex to lock Jacobian additions
  framework/include/loops/ComputeJacobianThread.h
  framework/src/loops/ComputeJacobianThread.C
Owners: none

Finally, a static condensation test
  framework/include/base/Assembly.h
  framework/src/base/Assembly.C
  framework/src/loops/ComputeJacobianThread.C
  framework/src/problems/FEProblem.C
  test/tests/misc/static_condensation/gold/test_out.e
  test/tests/misc/static_condensation/test.i
  test/tests/misc/static_condensation/tests
Owners: none

Remove redundant protected in FEProblemBase
  framework/include/problems/FEProblemBase.h
Owners: none

Add protective error for nl_sys + l_sys
  framework/src/problems/FEProblem.C
Owners: none

Don't fill diagonal when using AD with static condensation
  framework/src/problems/FEProblemBase.C
Owners: none

Add static condensation MMS test
  test/tests/misc/static_condensation/mms.i
  test/tests/misc/static_condensation/test.py
  test/tests/misc/static_condensation/tests
Owners: none

Revert "Use PetscAIJMatrix to avoid compile errors"
  framework/include/preconditioners/VariableCondensationPreconditioner.h
  framework/src/preconditioners/VariableCondensationPreconditioner.C
  framework/src/utils/PetscDMMoose.C
  framework/src/utils/SlepcSupport.C
Owners: @fdkong

Move some discretization attributes around between base flow and nonlinear flow Physics Add two term BC for pressure to linear flow physics
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/include/physics/WCNSFVFlowPhysicsBase.h
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/navier_stokes/src/physics/WCNSFVFlowPhysicsBase.C
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add doco for linear flow physics refs #27280 #25642
  modules/navier_stokes/doc/content/source/physics/WCNSFVLinearFlowPhysics.md
  modules/navier_stokes/doc/content/syntax/Physics/NavierStokes/FlowLinear/index.md
Owners: @lindsayad, @GiudGiud

CODEOWNERS:

/conda @milljm
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @aeslaughter
/framework/*/samplers @aeslaughter @zachmprince
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen


/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

/scripts/hpc_proxy.pac @loganharbour
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong
