Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @milljm, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @aeslaughter, @zachmprince, @cticenhour, @andrsd, @loganharbour

CODEOWNERS:

/conda @milljm
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @aeslaughter
/framework/*/samplers @aeslaughter @zachmprince
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen


/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

/scripts/hpc_proxy.pac @loganharbour
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong

Prevented round-off failures for some tests
  modules/thermal_hydraulics/test/tests/components/simple_turbine_1phase/phy.conservation.i
  modules/thermal_hydraulics/tutorials/single_phase_flow/04_loop.i
  modules/thermal_hydraulics/tutorials/single_phase_flow/05_secondary_side.i
  modules/thermal_hydraulics/tutorials/single_phase_flow/gold/04_loop_out.csv
Owners: none

Fixed tests for volume junction changes
  modules/thermal_hydraulics/test/tests/components/gate_valve_1phase/gold/gate_valve_1phase_light.e
  modules/thermal_hydraulics/test/tests/components/gate_valve_1phase/gold/gate_valve_1phase_light_flipped.e
  modules/thermal_hydraulics/test/tests/components/gate_valve_1phase/gold/gate_valve_1phase_out.e
  modules/thermal_hydraulics/test/tests/components/pump_1phase/tests
  modules/thermal_hydraulics/test/tests/misc/coupling_mD_flow/gold/parent_non_overlapping_out.e
  modules/thermal_hydraulics/test/tests/misc/restart_1phase/gold/part2_ics_out.e
  modules/thermal_hydraulics/tutorials/single_phase_flow/gold/04_loop_out.csv
  modules/thermal_hydraulics/tutorials/single_phase_flow/gold/05_secondary_side_out.csv
  modules/thermal_hydraulics/tutorials/single_phase_flow/gold/06_custom_closures_out.csv
Owners: none

Minor cleanup in ADPump1PhaseUserObject
  modules/thermal_hydraulics/src/userobjects/ADPump1PhaseUserObject.C
Owners: none

Added tikz diagram source for volume junction diagram
  modules/thermal_hydraulics/doc/tex/tikz_diagrams/.gitignore
  modules/thermal_hydraulics/doc/tex/tikz_diagrams/volume_junction.tex
Owners: none

Documented theory for volume junction
  modules/thermal_hydraulics/doc/content/source/components/VolumeJunction1Phase.md
Owners: none

Used 3D flux computation in volume junction
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnBase.h
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnBase.C
  modules/thermal_hydraulics/src/userobjects/ADVolumeJunction1PhaseUserObject.C
Owners: none

Returned 3D flux from calcFlux
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnBase.h
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnCentered.h
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnBase.C
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnCentered.C
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnHLLC.C
Owners: none

Refactored numerical flux unit tests
  modules/thermal_hydraulics/unit/include/ConsistencyTest3EqnRDGFluxBase.h
  modules/thermal_hydraulics/unit/include/ConsistencyTest3EqnRDGFluxCentered.h
  modules/thermal_hydraulics/unit/include/ConsistencyTest3EqnRDGFluxHLLC.h
  modules/thermal_hydraulics/unit/include/SymmetryTest3EqnRDGFluxBase.h
  modules/thermal_hydraulics/unit/include/SymmetryTest3EqnRDGFluxCentered.h
  modules/thermal_hydraulics/unit/include/SymmetryTest3EqnRDGFluxHLLC.h
  modules/thermal_hydraulics/unit/include/TestNumericalFlux3EqnBase.h
  modules/thermal_hydraulics/unit/include/TestNumericalFlux3EqnCentered.h
  modules/thermal_hydraulics/unit/include/TestNumericalFlux3EqnHLLC.h
  modules/thermal_hydraulics/unit/src/ConsistencyTest3EqnRDGFluxBase.C
  modules/thermal_hydraulics/unit/src/ConsistencyTest3EqnRDGFluxCentered.C
  modules/thermal_hydraulics/unit/src/ConsistencyTest3EqnRDGFluxHLLC.C
  modules/thermal_hydraulics/unit/src/SymmetryTest3EqnRDGFluxBase.C
  modules/thermal_hydraulics/unit/src/SymmetryTest3EqnRDGFluxCentered.C
  modules/thermal_hydraulics/unit/src/SymmetryTest3EqnRDGFluxHLLC.C
  modules/thermal_hydraulics/unit/src/Test3EqnRDGObjectBase.C
  modules/thermal_hydraulics/unit/src/TestNumericalFlux3EqnBase.C
  modules/thermal_hydraulics/unit/src/TestNumericalFlux3EqnCentered.C
  modules/thermal_hydraulics/unit/src/TestNumericalFlux3EqnHLLC.C
Owners: none

Added THM utility function to compute orthonormal vectors
  modules/thermal_hydraulics/include/utils/THMUtils.h
  modules/thermal_hydraulics/src/utils/THMUtils.C
  modules/thermal_hydraulics/unit/src/TestTHMUtils.C
Owners: none

Added tangent vector parameters to calcFlux
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnBase.h
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnCentered.h
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnHLLC.h
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnBase.C
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnCentered.C
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnHLLC.C
Owners: none

Added a velocity scaling option
  modules/thermal_hydraulics/include/userobjects/ADVolumeJunction1PhaseUserObject.h
  modules/thermal_hydraulics/src/components/VolumeJunction1Phase.C
  modules/thermal_hydraulics/src/userobjects/ADVolumeJunction1PhaseUserObject.C
Owners: none

Added density-pressure outlet
  modules/thermal_hydraulics/include/components/OutletDensityPressure1Phase.h
  modules/thermal_hydraulics/include/userobjects/ADBoundaryFlux3EqnGhostDensityPressure.h
  modules/thermal_hydraulics/src/components/OutletDensityPressure1Phase.C
  modules/thermal_hydraulics/src/userobjects/ADBoundaryFlux3EqnGhostDensityPressure.C
Owners: none

Added junction test problems
  modules/thermal_hydraulics/test/tests/problems/william_louis/README
  modules/thermal_hydraulics/test/tests/problems/william_louis/data/3pipes_open_pipe1_048.csv
  modules/thermal_hydraulics/test/tests/problems/william_louis/data/3pipes_open_pipe1_313.csv
  modules/thermal_hydraulics/test/tests/problems/william_louis/data/3pipes_open_pipe2_052.csv
  modules/thermal_hydraulics/test/tests/problems/william_louis/data/3pipes_open_pipe3_048.csv
  modules/thermal_hydraulics/test/tests/problems/william_louis/data/4pipes_closed_pipe1_048.csv
  modules/thermal_hydraulics/test/tests/problems/william_louis/junction_3pipes_open.i
  modules/thermal_hydraulics/test/tests/problems/william_louis/junction_4pipes_closed.i
  modules/thermal_hydraulics/test/tests/problems/william_louis/plot_3pipes_open.py
  modules/thermal_hydraulics/test/tests/problems/william_louis/plot_4pipes_closed.py
Owners: none

Add support for a description and an image in tags refs #25387
  python/MooseDocs/extensions/tagging.py
Owners: none

Skip tests requiring requests
  test/tests/controls/web_server_control/tests
Owners: none

Symmetry plane option and additional output for AverageSectionValueSampler ref #28227
  modules/solid_mechanics/include/vectorpostprocessors/AverageSectionValueSampler.h
  modules/solid_mechanics/src/vectorpostprocessors/AverageSectionValueSampler.C
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_adapt_out_section_output_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_adapt_out_section_output_0002.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_auto_out_section_output_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_out_section_output_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_out_section_output_0002.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_out_section_output_0003.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_out_section_output_0004.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_one_step_two_ducts_out_section_output_two_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/one_duct.e
  modules/solid_mechanics/test/tests/cross_section_deflection/test_adapt.i
  modules/solid_mechanics/test/tests/cross_section_deflection/test_one_step.i
Owners: none

Test symmetry_plane option in AverageSectionValueSampler ref #28227
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_therm_exp_out_section_output_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/gold/test_therm_exp_symm_out_section_output_0001.csv
  modules/solid_mechanics/test/tests/cross_section_deflection/one_duct_symm.e
  modules/solid_mechanics/test/tests/cross_section_deflection/one_duct_symm.jou
  modules/solid_mechanics/test/tests/cross_section_deflection/test_therm_exp.i
  modules/solid_mechanics/test/tests/cross_section_deflection/test_therm_exp_symm.i
  modules/solid_mechanics/test/tests/cross_section_deflection/tests
Owners: none

Document new features in AverageValueSampler ref #28227
  modules/solid_mechanics/doc/content/source/vectorpostprocessors/AverageSectionValueSampler.md
Owners: none

Adding support for tag vector which is not zeroed automatically
  framework/include/problems/SubProblem.h
  framework/include/systems/NonlinearSystemBase.h
  framework/src/problems/FEProblemBase.C
  framework/src/problems/SubProblem.C
  framework/src/systems/SystemBase.C
Owners: none

Adding the gold file for the non-zeroed vector tag
  test/tests/tag/gold/not_zeroed_tag_vector_out.e
Owners: none

Adding a test for the non zeroed vector tag
  test/tests/tag/not_zeroed_tag_vector.i
  test/tests/tag/tests
Owners: none

Added testing for contributing to residuals with a line source while only tracing the rays a single time
  framework/include/systems/NonlinearSystemBase.h
  modules/ray_tracing/src/userobjects/RayTracingStudy.C
  modules/ray_tracing/test/include/userobjects/SingleTraceLineSourceTest.h
  modules/ray_tracing/test/src/userobjects/SingleTraceLineSourceTest.C
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/gold/single_trace_line_source_ray_kernel_out.e
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/line_source_base.i
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/line_source_ray_kernel.i
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/single_trace_line_source_ray_kernel.i
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/tests
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/single_trace_line_source_ray_kernel.i
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/tests
Owners: @loganharbour

Adding an initial version of a single trace ray study test
  modules/ray_tracing/test/include/userobjects/SingleTraceLineSourceTest.h
  modules/ray_tracing/test/src/userobjects/SingleTraceLineSourceTest.C
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/line_source_base.i
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/line_source_ray_kernel.i
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/single_trace_line_source_ray_kernel.i
  modules/ray_tracing/test/tests/userobjects/single_trace_line_source/tests
Owners: @loganharbour

Apply suggestions from code review
  framework/include/problems/SubProblem.h
Owners: none

Making some changes to address comments
  framework/src/problems/FEProblemBase.C
  modules/ray_tracing/src/userobjects/RayTracingStudy.C
  modules/ray_tracing/test/include/userobjects/SingleTraceLineSourceTest.h
  modules/ray_tracing/test/src/userobjects/SingleTraceLineSourceTest.C
Owners: @loganharbour

Apply suggestions from code review
  framework/include/problems/SubProblem.h
  framework/src/problems/FEProblemBase.C
  framework/src/problems/SubProblem.C
  modules/ray_tracing/src/userobjects/RayTracingStudy.C
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/tests
  test/tests/tag/tests
Owners: @loganharbour

Updating test for clarity
  test/tests/tag/gold/not_zeroed_tag_vector_out.e
  test/tests/tag/not_zeroed_tag_vector.i
Owners: none

Update modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/tests
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/tests
Owners: @loganharbour

Addressing comments from review
  framework/include/problems/SubProblem.h
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/tests
Owners: @loganharbour

Changing tagged vector types back to GHOSTED
  framework/src/problems/FEProblemBase.C
Owners: none

Dont trim whitespace off of tex files closes #28512
  scripts/delete_trailing_whitespace.sh
Owners: none

Add missing single-quote in stork generation console output
  scripts/stork.sh
Owners: none

Add setDocUnit and getDocUnit methods to support documentation units
  framework/include/utils/InputParameters.h
  framework/src/utils/InputParameters.C
Owners: none

Get basic documentation units entry in JSON dump output and YAML output
  framework/src/outputs/formatters/JsonInputFileFormatter.C
  framework/src/outputs/formatters/YAMLFormatter.C
  framework/src/utils/JsonSyntaxTree.C
Owners: none

Expose documentation unit to MooseDocs page and apply CSS formatting
  framework/doc/content/css/moose.css
  python/MooseDocs/extensions/appsyntax.py
Owners: none

Add default string to all params whose units are not specified
  python/MooseDocs/extensions/appsyntax.py
Owners: none

Add a base class for THM flow model physics
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Vectorize base thm physics class on flow channels
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Easier error message for people who cant count
  framework/src/utils/FunctionParserUtils.C
Owners: none

Add most parameters to k-eps model refs #9007
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud
