Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @milljm, @cticenhour, @lindsayad, @permcody, @GiudGiud, @dschwen, @zachmprince, @bwspenc, @joshuahansel, @jiangwen84

Add another log for dependent parameter checks
  framework/include/utils/InputParametersChecksUtils.h
Owners: @lindsayad

Add BCs for k-epsilon Add names of variables as member attributes refs #9007
  modules/navier_stokes/include/base/NS.h
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Input file typo fixes
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/bfs/BFS_ERCOFTAC.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/channel/channel_ERCOFTAC.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-capped.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-inc-wall.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-linear-wall.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-no-wall.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-non-eq-bulk.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-non-eq-wall.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall.i
Owners: @lindsayad, @GiudGiud

Add k-eps turbulent equations kernels to physics refs #9007
  modules/navier_stokes/include/base/NS.h
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add lid driven inputs with physics refs #9007
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-capped-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Add option to use the full momentum expansion in fully coupled WCNSFV physics
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add intialization of k-epsilon variables refs #9007
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add a utility routine to check for floats
  framework/include/utils/MooseUtils.h
Owners: @lindsayad

Retrieve the coupled Physics later to avoid construction ordering issues
  modules/navier_stokes/include/physics/WCNSFVFluidHeatTransferPhysics.h
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Enable selection of names for turbulence k-eps variables Add support for using a functor material for mu_t, preserving derivatives refs #9007
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Minor changes on turbulence physics Add deprecated 'k' parameter to k-eps objects
  modules/navier_stokes/src/auxkernels/RANSYPlusAux.C
  modules/navier_stokes/src/auxkernels/kEpsilonViscosityAux.C
  modules/navier_stokes/src/fvbcs/INSFVMixingLengthTKEDBC.C
  modules/navier_stokes/src/fvbcs/INSFVTKEDWallFunctionBC.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentTemperatureWallFunction.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentViscosityWallFunction.C
  modules/navier_stokes/src/fvkernels/INSFVTKEDSourceSink.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Adapt input files
  modules/navier_stokes/test/tests/finite_volume/ins/action/errors/2d-rc-error-action.i
  modules/navier_stokes/test/tests/finite_volume/ins/action/errors/tests
  modules/navier_stokes/test/tests/finite_volume/ins/channel-flow/cylindrical/no-slip-tris-action.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall.i
  modules/navier_stokes/test/tests/finite_volume/wcns/channel-flow/2d-transient-action.i
Owners: @lindsayad, @GiudGiud

Add input for k-eps + energy + physics
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy.i
Owners: @lindsayad, @GiudGiud

Add energy wall function in FluidHT physics better than turbulence as it simplifies boundary-checking logic
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/base/NSFVBase.C
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
Owners: @lindsayad, @GiudGiud

Turbulence physics are needed by advection-wcns physics: retrieve it
  modules/navier_stokes/include/base/NS.h
  modules/navier_stokes/include/physics/WCNSFVCoupledAdvectionPhysicsHelper.h
  modules/navier_stokes/src/physics/WCNSFVCoupledAdvectionPhysicsHelper.C
Owners: @lindsayad, @GiudGiud

Add documentation for k-epsilon in turbulence physics
  modules/navier_stokes/doc/content/source/physics/WCNSFVTurbulencePhysics.md
Owners: @lindsayad, @GiudGiud

Add momentum wall functors to be able to do lid-driven with physics more cleanly and be able to check walls between heat and flow equations for lid-driven cavities
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add volumetric terms for scalar and heat transfer w/ turbulent diffusion
  modules/navier_stokes/include/physics/WCNSFVFluidHeatTransferPhysics.h
  modules/navier_stokes/src/physics/WCNSFVScalarTransportPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add newton solve parameters to keep track of when to add the 0-valued terms for sparsity pattern preservation
  modules/navier_stokes/include/fvbcs/INSFVTurbulentTemperatureWallFunction.h
  modules/navier_stokes/include/fvbcs/INSFVTurbulentViscosityWallFunction.h
  modules/navier_stokes/include/fvkernels/INSFVMomentumDiffusion.h
  modules/navier_stokes/include/fvkernels/INSFVTKESourceSink.h
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/fvbcs/INSFVTurbulentTemperatureWallFunction.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentViscosityWallFunction.C
  modules/navier_stokes/src/fvkernels/INSFVMomentumDiffusion.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Synch tests between physics and non-physics syntax
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-capped-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear-physics.i
Owners: @lindsayad, @GiudGiud

Add k_t as auxvariable Add support for C_pl coeff in tubrulence physics
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Adapt to parameters which were removed by keps rework
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Limit turbulent viscosity w/ NS lower bound
  modules/navier_stokes/src/auxkernels/kEpsilonViscosityAux.C
  modules/navier_stokes/src/functormaterials/INSFVkEpsilonViscosityFunctorMaterial.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentViscosityWallFunction.C
Owners: @lindsayad, @GiudGiud

Add previous NL solution automatically for k-epsilon (we could limit to linearized) Fixup kt aux-variable creation in turb physics
  framework/include/problems/FEProblemBase.h
  framework/src/problems/FEProblemBase.C
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add an option to dump all the input file in the DumpObjectsProblem
  framework/include/problems/DumpObjectsProblem.h
  framework/src/problems/DumpObjectsProblem.C
  test/tests/problems/dump_objects/tests
Owners: @lindsayad

Fix source/sink terms for newton
  modules/navier_stokes/src/fvkernels/INSFVTKEDSourceSink.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Adapt to new input syntax Add matching outputs to segregated inputs Try bounds on k and epsilon
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-capped-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear-physics.i
Owners: @lindsayad, @GiudGiud

Add a second wall treatment parameter for temperature
  modules/navier_stokes/include/physics/WCNSFVTurbulencePhysics.h
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add more sparsity pattern conservation terms
  modules/navier_stokes/src/fvbcs/INSFVTurbulentTemperatureWallFunction.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentViscosityWallFunction.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
Owners: @lindsayad, @GiudGiud

Only add walls to the TKED kernels for special treatment
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Make newton tests match gold (nonlinear solver, segregated or newton for 1)
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/ignore_lambda.cmp
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-low-turb.cmp
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-capped-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-energy-wall-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear-physics.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/lid-driven-turb-std-wall-nonlinear.i
  modules/navier_stokes/test/tests/finite_volume/ins/turbulence/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Add more parameters to forward from input file to keps physics-created objects Clarify lagged/not lagged terms a bit. Limit number of functor evaluations
  modules/navier_stokes/src/fvkernels/INSFVTKEDSourceSink.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add more newton solve special cases to preserve sparsity pattern
  modules/navier_stokes/include/auxkernels/kEpsilonViscosityAux.h
  modules/navier_stokes/include/base/NS.h
  modules/navier_stokes/include/fvbcs/INSFVTKEDWallFunctionBC.h
  modules/navier_stokes/src/auxkernels/kEpsilonViscosityAux.C
  modules/navier_stokes/src/base/NavierStokesMethods.C
  modules/navier_stokes/src/fvbcs/INSFVTKEDWallFunctionBC.C
  modules/navier_stokes/src/fvbcs/INSFVTurbulentViscosityWallFunction.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
Owners: @lindsayad, @GiudGiud

Add capability support in tester (#26470)
  python/TestHarness/TestHarness.py
  python/TestHarness/testers/Tester.py
  python/TestHarness/util.py
Owners: none

Add capability registry in app (#26470)
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  modules/chemical_reactions/test/include/base/ChemicalReactionsTestApp.h
  modules/chemical_reactions/test/src/base/ChemicalReactionsTestApp.C
Owners: @lindsayad

Address comments (#26470)
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
  modules/solid_mechanics/examples/cframe_iga/tests
  python/TestHarness/tests/test_FailedJSON.py
  test/tests/auxkernels/solution_aux/tests
  test/tests/meshgenerators/file_mesh_generator/tests
  test/tests/partitioners/block_weighted_partitioner/tests
  test/tests/partitioners/petsc_partitioner/tests
  test/tests/relationship_managers/two_rm/tests
Owners: @lindsayad

Explicitly set to false (#26470)
  framework/doc/content/source/base/Capabilities.md
  framework/include/base/Capabilities.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  python/TestHarness/tests/test_MinADSize.py
  test/tests/misc/required_capabilities/tests
  test/tests/test_harness/extra_info
  unit/src/CapabilitiesTest.C
Owners: @lindsayad

Rework into singleton registry (#26470)
  framework/include/base/AppFactory.h
  framework/include/base/Capabilities.h
  framework/include/base/Factory.h
  framework/include/base/MooseApp.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  modules/chemical_reactions/test/src/base/ChemicalReactionsTestApp.C
  modules/solid_mechanics/test/include/base/SolidMechanicsTestApp.h
  modules/solid_mechanics/test/src/base/SolidMechanicsTestApp.C
  python/TestHarness/util.py
Owners: @lindsayad

Spelling (#26470)
  python/TestHarness/FileChecker.py
  python/TestHarness/RaceChecker.py
  python/TestHarness/TestHarness.py
  python/TestHarness/testers/AnalyzeJacobian.py
  python/TestHarness/testers/Exodiff.py
  python/TestHarness/testers/ImageDiff.py
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/Tester.py
  python/TestHarness/util.py
Owners: none

Annotate capabilities with doc strings (#26470)
  framework/include/base/Capabilities.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  python/TestHarness/util.py
  test/tests/misc/required_capabilities/tests
  test/tests/outputs/png/tests
  unit/src/CapabilitiesTest.C
Owners: @lindsayad

CODEOWNERS:

/conda @loganharbour @milljm @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad

/.github @permcody

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/executioners/*Solve* @GiudGiud
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/multiapps @GiudGiud
/framework/*/reporters @loganharbour @zachmprince
/framework/*/samplers @zachmprince
/framework/*/transfers @GiudGiud
/framework/*/utils/Units* @dschwen

/modules/contact @bwspenc @lindsayad
/modules/doc/content/getting_started/installation @milljm @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad
/modules/heat_conduction @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/optimization @zachmprince @dschwen
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince
/modules/tensor_mechanics @bwspenc @dschwen @jiangwen84
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @milljm @loganharbour
/scripts/configure_libmesh.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_libmesh.sh @cticenhour @milljm @loganharbour
