Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @milljm, @cticenhour, @lindsayad, @permcody, @GiudGiud, @dschwen, @zachmprince, @bwspenc, @joshuahansel, @jiangwen84

CODEOWNERS:

/conda @loganharbour @milljm @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad

/.github @permcody

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/executioners/*Solve* @GiudGiud
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/multiapps @GiudGiud
/framework/*/reporters @loganharbour @zachmprince
/framework/*/samplers @zachmprince
/framework/*/transfers @GiudGiud
/framework/*/utils/Units* @dschwen

/modules/contact @bwspenc @lindsayad
/modules/doc/content/getting_started/installation @milljm @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad
/modules/heat_conduction @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/optimization @zachmprince @dschwen
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince
/modules/tensor_mechanics @bwspenc @dschwen @jiangwen84
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @milljm @loganharbour
/scripts/configure_libmesh.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_libmesh.sh @cticenhour @milljm @loganharbour

Add support for gravity term in linear solver physics
  modules/navier_stokes/src/physics/WCNSFVLinearFlowPhysics.C
Owners: @lindsayad, @GiudGiud

XYZDelaunayGenerator mesh generator
  framework/include/meshgenerators/XYZDelaunayGenerator.h
  framework/src/meshgenerators/XYZDelaunayGenerator.C
Owners: @lindsayad

Doc page for XYZDelaunay
  framework/doc/content/source/meshgenerators/XYZDelaunayGenerator.md
Owners: none

Add XYZDelaunay regression tests
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_mesh_generator_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_nested_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_smoothed_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_stitching_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_with_holes_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/tests
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_mesh_generator.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_nested.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_smoothed.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_stitching.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_with_holes.i
Owners: none

Use CSVDiff not Exodiff in XYZDelaunay tests
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_mesh_generator_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_mesh_generator_out.csv
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_nested_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_nested_out.csv
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_smoothed_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_smoothed_out.csv
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_stitching_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_stitching_out.csv
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_with_holes_in.e
  test/tests/meshgenerators/xyz_delaunay_generator/gold/xyzdelaunay_with_holes_out.csv
  test/tests/meshgenerators/xyz_delaunay_generator/tests
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_mesh_generator.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_nested.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_smoothed.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_stitching.i
  test/tests/meshgenerators/xyz_delaunay_generator/xyzdelaunay_with_holes.i
Owners: none

Reference tetrahedralization issue in XYZ tests
  test/tests/meshgenerators/xyz_delaunay_generator/tests
Owners: none

[Physics/SolidMechanics/QuasiStatic]: add displacement variables with block restriction closes idaholab#28307
  modules/contact/test/tests/pdass_problems/cylinder_friction_penalty_adaptivity.i
  modules/solid_mechanics/src/actions/CommonSolidMechanicsAction.C
  modules/solid_mechanics/src/physics/QuasiStaticSolidMechanicsPhysics.C
  modules/solid_mechanics/test/tests/j_integral/tests
Owners: @bwspenc, @lindsayad

Add prefix to preconditioning matrix
  framework/src/utils/PetscSupport.C
Owners: @lindsayad

First pass at ControlDrumMeshGenerator implementation
  modules/reactor/include/meshgenerators/ControlDrumMeshGenerator.h
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
Owners: @GiudGiud

Add additional azimuthal nodes if pad angles to not align with azimuthal discretization
  modules/reactor/include/meshgenerators/ControlDrumMeshGenerator.h
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
Owners: @GiudGiud

Demonstrate setting cuda types from input file
  framework/include/problems/FEProblemBase.h
  framework/include/utils/PetscSupport.h
  framework/src/problems/FEProblemBase.C
  framework/src/utils/PetscSupport.C
  framework/src/utils/SlepcSupport.C
  test/tests/misc/respect_petsc_options/gold/test_out.csv
  test/tests/misc/respect_petsc_options/test.i
  test/tests/misc/respect_petsc_options/tests
Owners: @lindsayad

Enable control drum assembly stitching in CoreMeshGenerator
  modules/reactor/include/meshgenerators/ControlDrumMeshGenerator.h
  modules/reactor/include/meshgenerators/CoreMeshGenerator.h
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
Owners: @GiudGiud

Modify F1 and F2 state evaluations in kernels. This versions is not meant to be definitive, a cleanup and adding the state evaluations to bulk_wall_treatment=true is needed
  modules/navier_stokes/include/fvkernels/INSFVTKESDSourceSink.h
  modules/navier_stokes/src/auxkernels/kOmegaSSTViscosityAux.C
  modules/navier_stokes/src/fvkernels/INSFVTKESDSourceSink.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
Owners: @lindsayad, @GiudGiud

Removed overwrite option from ExplicitDynamicsContactAction
  modules/contact/src/actions/ExplicitDynamicsContactAction.C
Owners: @bwspenc, @lindsayad

Updated documentation for explicit contact dynamics
  modules/contact/doc/content/source/actions/ExplicitDynamicsContactAction.md
  modules/contact/doc/content/source/constraints/ExplicitDynamicsContactConstraint.md
Owners: @bwspenc, @lindsayad

Regolding explicit contact tests for updated explicit dynamics contact method
  modules/contact/test/tests/explicit_dynamics/gold/first_test_out.csv
  modules/contact/test/tests/explicit_dynamics/gold/highvel_out.csv
  modules/contact/test/tests/explicit_dynamics/gold/settlement_out.csv
  modules/contact/test/tests/explicit_dynamics/gold/test_balance_out.e
  modules/contact/test/tests/explicit_dynamics/gold/test_balance_short_out.e
  modules/contact/test/tests/explicit_dynamics/highvel.i
  modules/contact/test/tests/explicit_dynamics/settlement.i
  modules/contact/test/tests/explicit_dynamics/test_balance.i
  modules/contact/test/tests/explicit_dynamics/tests
Owners: @bwspenc, @lindsayad

Splitting relaxation factors in matrix and field relaxations. Removing the limiter of mu_t for kOmegaSST in the wall bounded cells.
  modules/navier_stokes/include/executioners/SegregatedSolverBase.h
  modules/navier_stokes/include/fvkernels/INSFVTKESDSourceSink.h
  modules/navier_stokes/src/auxkernels/kOmegaSSTF1BlendingAux.C
  modules/navier_stokes/src/auxkernels/kOmegaSSTF2BlendingAux.C
  modules/navier_stokes/src/auxkernels/kOmegaSSTViscosityAux.C
  modules/navier_stokes/src/executioners/SIMPLENonlinearAssembly.C
  modules/navier_stokes/src/executioners/SegregatedSolverBase.C
  modules/navier_stokes/src/fvkernels/INSFVTKESDSourceSink.C
  modules/navier_stokes/src/fvkernels/INSFVTKESourceSink.C
Owners: @lindsayad, @GiudGiud

Deprecate show_rgmb_metadata
  modules/reactor/doc/content/source/meshgenerators/AssemblyMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/CoreMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/PinMeshGenerator.md
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/src/meshgenerators/ReactorGeometryMeshBuilderBase.C
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/core_hex_extra_assemblies.i
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_hex_2d_datadriven_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_hex_datadriven_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_hex_extra_assemblies_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_square_datadriven_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/tests
Owners: @GiudGiud

Add unit tests for CMG with drums
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/core_flexible_assembly_stitching_with_drum_cart.i
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/core_flexible_assembly_stitching_with_drum_hex.i
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_flexible_assembly_stitching_with_drum_cart_out.csv
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_flexible_assembly_stitching_with_drum_hex_out.csv
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_flexible_assembly_stitching_with_drum_hex_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/tests
Owners: @GiudGiud

Add unit tests in control_drum_mesh_generator
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/drum_nopad.i
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/drum_pad.i
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/gold/drum_cart_nopad_out.csv
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/gold/drum_cart_pad_out.csv
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/gold/drum_hex_nopad_out.csv
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/gold/drum_hex_pad_out.csv
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/tests
Owners: @GiudGiud

formatting fixes
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
Owners: none

add Abaqus reference input files
  modules/tensor_mechanics/test/tests/umat/orient_umat/reference/shear_top_umat.inp
  modules/tensor_mechanics/test/tests/umat/orient_umat/reference/shear_top_umat_rotate_z_30_degrees.inp
Owners: @bwspenc, @dschwen, @jiangwen84

formatting fixes
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
Owners: none

add UMAT orientation tests, closes #24095
  modules/solid_mechanics/test/plugins/elastic_print.f
  modules/tensor_mechanics/test/tests/umat/orient_umat/gold/shear_top_umat_out.e
  modules/tensor_mechanics/test/tests/umat/orient_umat/gold/shear_top_umat_rashid_out.e
  modules/tensor_mechanics/test/tests/umat/orient_umat/shear_top_umat.i
  modules/tensor_mechanics/test/tests/umat/orient_umat/tests
Owners: @bwspenc, @dschwen, @jiangwen84

more formatting fixes
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
Owners: none

define preferential orientation direction for UMAT
  modules/solid_mechanics/include/materials/abaqus/AbaqusUMATStress.h
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
Owners: none

addressing comments
  modules/solid_mechanics/include/materials/abaqus/AbaqusUMATStress.h
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
  modules/tensor_mechanics/test/tests/umat/orient_umat/tests
Owners: @bwspenc, @dschwen, @jiangwen84

address comments
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
  modules/tensor_mechanics/test/tests/umat/orient_umat/tests
Owners: @bwspenc, @dschwen, @jiangwen84

send in old rotation increment for DROT if using Rashid kinematics, or Identity if using an intermediate configuation (to match Abaqus)
  modules/solid_mechanics/include/materials/abaqus/AbaqusUMATStress.h
  modules/solid_mechanics/src/materials/ComputeIncrementalStrainBase.C
  modules/solid_mechanics/src/materials/abaqus/AbaqusUMATStress.C
  modules/solid_mechanics/test/tests/umat/print/tests
Owners: none

describe this feature in the docs
  modules/solid_mechanics/doc/content/source/materials/abaqus/AbaqusUMATStress.md
Owners: none

UMAT tests need to be run in-tree
  modules/solid_mechanics/test/tests/umat/print/tests
  modules/tensor_mechanics/test/tests/umat/orient_umat/tests
Owners: @bwspenc, @dschwen, @jiangwen84

add extra UMAT orientation tests for case where zero rotation is applied but stress calculated in intermediate frame
  modules/solid_mechanics/test/tests/umat/orient_umat/reference/shear_top_umat.inp
  modules/solid_mechanics/test/tests/umat/orient_umat/shear_top_umat.i
  modules/solid_mechanics/test/tests/umat/orient_umat/tests
  modules/tensor_mechanics/test/tests/umat/orient_umat/reference/shear_top_umat.inp
Owners: @bwspenc, @dschwen, @jiangwen84

get UMAT orientation tests working with new solid_mechanics module
  modules/solid_mechanics/test/tests/umat/orient_umat/gold/shear_top_umat_out.e
  modules/solid_mechanics/test/tests/umat/orient_umat/gold/shear_top_umat_rashid_out.e
  modules/solid_mechanics/test/tests/umat/orient_umat/shear_top_umat.i
  modules/solid_mechanics/test/tests/umat/orient_umat/tests
Owners: none

Refactor to use new libMesh API
  framework/include/systems/NonlinearEigenSystem.h
  framework/src/systems/NonlinearEigenSystem.C
Owners: @lindsayad

Move magic numbers/strings to header variables
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
Owners: @GiudGiud

Add documentation for ControlDrumMeshGenerator
  modules/reactor/doc/content/source/meshgenerators/AssemblyMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/ControlDrumMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/CoreMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/PinMeshGenerator.md
  modules/reactor/doc/content/source/meshgenerators/ReactorMeshParams.md
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
Owners: @GiudGiud

Update depletion ID generation for ControlDrumMeshGenerator, refs #28457
  modules/reactor/doc/content/source/meshgenerators/ControlDrumMeshGenerator.md
  modules/reactor/include/meshgenerators/ControlDrumMeshGenerator.h
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/ControlDrumMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/src/meshgenerators/ReactorGeometryMeshBuilderBase.C
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/drum_depletion_id.i
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/gold/drum_depletion_id_out_region_volumes_0002.csv
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/tests
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/core_with_drum_depletion_id.i
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_with_drum_depletion_id_pin_out_region_volumes_0002.csv
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_with_drum_depletion_id_pin_type_out_region_volumes_0002.csv
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/tests
Owners: @GiudGiud

name_id_map metadata no longer needed
  modules/reactor/include/meshgenerators/ReactorMeshParams.h
  modules/reactor/src/meshgenerators/ReactorMeshParams.C
  modules/reactor/test/tests/meshgenerators/control_drum_mesh_generator/tests
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/gold/core_hex_extra_assemblies_out.json
  modules/reactor/test/tests/meshgenerators/core_mesh_generator/tests
Owners: @GiudGiud

Switched notation from 1,2 to L,R in ADNumericalFlux3EqnHLLC
  modules/thermal_hydraulics/include/userobjects/ADNumericalFlux3EqnHLLC.h
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnHLLC.C
Owners: @joshuahansel

Switched notation from q to un in ADNumericalFlux3EqnHLLC
  modules/thermal_hydraulics/src/userobjects/ADNumericalFlux3EqnHLLC.C
Owners: @joshuahansel
