Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @milljm, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @aeslaughter, @zachmprince, @cticenhour, @andrsd, @loganharbour

CODEOWNERS:

/conda @milljm
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @aeslaughter
/framework/*/samplers @aeslaughter @zachmprince
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen


/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

/scripts/hpc_proxy.pac @loganharbour
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong

Output machine readable data to file (#26555)
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
Owners: none

Work around ambiguous conversion (#26470)
  framework/include/base/Capabilities.h
  framework/src/base/Capabilities.C
Owners: none

Executable can check required capabilities (#26470)
  framework/doc/content/source/base/Capabilities.md
  framework/src/base/MooseApp.C
  test/tests/misc/required_capabilities/input.i
  test/tests/misc/required_capabilities/tests
Owners: none

Namespace, factor out registration, pytest fix (#26470)
  framework/include/base/Capabilities.h
  framework/include/base/MooseApp.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  python/TestHarness/tests/test_FailedJSON.py
  unit/src/CapabilitiesTest.C
Owners: none

Implement capabilities check in C++ (#26470)
  framework/include/base/Capabilities.h
  framework/src/base/Capabilities.C
  python/TestHarness/util.py
  unit/src/CapabilitiesTest.C
Owners: none

Change to new registry pattern (#26470)
  framework/include/base/Capabilities.h
  framework/include/base/ExecFlagRegistry.h
  framework/include/base/MooseApp.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/chemical_reactions/src/base/ChemicalReactionsApp.C
  unit/src/CapabilitiesTest.C
Owners: none

min gcc fix (#26470)
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
Owners: none

GTest is only available in unit tests (#26470)
  framework/include/base/Capabilities.h
  modules/chemical_reactions/unit/Makefile
  modules/electromagnetics/unit/Makefile
  modules/external_petsc_solver/unit/Makefile
  modules/fluid_properties/unit/Makefile
  modules/fsi/unit/Makefile
  modules/functional_expansion_tools/unit/Makefile
  modules/geochemistry/unit/Makefile
  modules/navier_stokes/unit/Makefile
  modules/optimization/unit/Makefile
  modules/phase_field/unit/Makefile
  modules/porous_flow/unit/Makefile
  modules/ray_tracing/unit/Makefile
  modules/reactor/unit/Makefile
  modules/scalar_transport/unit/Makefile
  modules/solid_mechanics/unit/Makefile
  modules/solid_properties/unit/Makefile
  modules/stochastic_tools/unit/Makefile
  modules/thermal_hydraulics/unit/Makefile
  modules/xfem/unit/Makefile
  unit/Makefile
  unit/src/CapabilitiesTest.C
Owners: @cticenhour, @fdkong, @rwcarlsen, @andrsd, @lindsayad, @GiudGiud, @dschwen, @loganharbour, @aeslaughter, @zachmprince

Fix exception test (#26470)
  python/TestHarness/tests/test_FailedJSON.py
Owners: none

Add python bindings (#26470)
  framework/contrib/capabilities/capabilities.C
  framework/include/base/Capabilities.h
  framework/include/base/MooseApp.h
  framework/include/utils/CapabilityUtils.h
  framework/moose.mk
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  framework/src/utils/CapabilityUtils.C
  python/TestHarness/testers/Tester.py
  python/TestHarness/util.py
  python/pycapabilities/__init__.py
  python/pycapabilities/tests/test_capabilities.py
  python/pycapabilities/tests/tests
  python/pyhit/tests/test_examples.py
  unit/src/CapabilitiesTest.C
Owners: none

Exit code processing (#26470)
  framework/include/base/MooseApp.h
  framework/include/base/MooseMain.h
  framework/src/base/MooseApp.C
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/Tester.py
  python/TestHarness/util.py
  test/src/main.C
Owners: none

Fix multiple capability check (#26470)
  framework/include/utils/Conversion.h
  framework/src/base/Capabilities.C
  unit/src/CapabilitiesTest.C
Owners: none

Implement PEG parser (#26470)
  framework/contrib/capabilities/capabilities.C
  framework/include/base/Capabilities.h
  framework/include/utils/CapabilityUtils.h
  framework/moose.mk
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  framework/src/utils/CapabilityUtils.C
  modules/solid_mechanics/examples/cframe_iga/tests
  python/TestHarness/testers/RunApp.py
  test/tests/meshgenerators/file_mesh_generator/tests
  test/tests/misc/required_capabilities/tests
  test/tests/preconditioners/hmg/tests
  test/tests/system_interfaces/tests
  unit/src/CapabilitiesTest.C
Owners: none

Add cpp-peglib by Yuji Hirose (#26470)
  framework/contrib/cpp-peglib/include/peglib.h
Owners: none

Update test specs (#26470)
  modules/contact/test/tests/3d-mortar-contact/tests
  modules/contact/test/tests/mortar_aux_kernels/tests
  modules/contact/test/tests/mortar_cartesian_lms/tests
  modules/contact/test/tests/mortar_dynamics/tests
  modules/heat_transfer/test/tests/gap_heat_transfer_mortar/tests
  modules/misc/test/tests/ad_arrhenius_material_property/tests
  modules/navier_stokes/test/tests/finite_element/ins/lid_driven/tests
  modules/optimization/test/tests/optimizationreporter/general_opt/function_optimization/tests
  modules/solid_mechanics/examples/cframe_iga/tests
  test/tests/meshgenerators/file_mesh_generator/tests
  test/tests/mortar/convergence-studies/continuity-3d/tests
  test/tests/mortar/convergence-studies/solution-continuity/tests
  test/tests/multiapps/sub_cycling_failure/tests
  test/tests/partitioners/block_weighted_partitioner/tests
  test/tests/partitioners/petsc_partitioner/tests
  test/tests/problems/eigen_problem/initial_condition/tests
Owners: @lindsayad, @GiudGiud

Fix rpath issue (#26470)
  framework/moose.mk
Owners: none

Fix tests improve docs (#26470)
  framework/contrib/capabilities/capabilities.C
  framework/doc/content/source/base/Capabilities.md
  framework/include/utils/CapabilityUtils.h
  framework/moose.mk
  framework/src/parser/CommandLine.C
  framework/src/utils/CapabilityUtils.C
  modules/combined/test/tests/3d-mortar-projection-tolerancing/tests
  modules/contact/test/tests/3d-mortar-contact/tests
  modules/contact/test/tests/bouncing-block-contact/tests
  modules/optimization/test/tests/optimizationreporter/general_opt/function_optimization/tests
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/Tester.py
  python/TestHarness/tests/test_MinADSize.py
  python/pycapabilities/tests/test_capabilities.py
  test/tests/misc/required_capabilities/tests
  test/tests/problems/eigen_problem/initial_condition/tests
Owners: @rwcarlsen

Regold tapered.i test after the implementation of new base vectors
  modules/solid_mechanics/test/tests/shell/static/gold/tapered_out.e
Owners: none

Pre-test fix (#28471)
  modules/solid_mechanics/test/tests/shell/static/pinched_cylinder_symm_unstructured.i
Owners: none

Run test only in opt (#28471)
  modules/solid_mechanics/test/tests/shell/static/tests
Owners: none

Modifing base vectors of shell element and added test example closes #28471
  modules/solid_mechanics/doc/content/modules/solid_mechanics/ShellElements.md
  modules/solid_mechanics/src/materials/ADComputeIncrementalShellStrain.C
  modules/solid_mechanics/test/tests/shell/static/gold/pinched_cylinder_symm_unstructured_out.e
  modules/solid_mechanics/test/tests/shell/static/pinched_cyl_40_40_unstructured.msh
  modules/solid_mechanics/test/tests/shell/static/pinched_cylinder_symm_unstructured.i
  modules/solid_mechanics/test/tests/shell/static/tests
Owners: none

edit typo in the doc file
  modules/solid_mechanics/doc/content/modules/solid_mechanics/ShellElements.md
Owners: none

Minor code cleanup and notes (#28471)
  modules/solid_mechanics/src/materials/ADComputeIncrementalShellStrain.C
  modules/solid_mechanics/test/tests/shell/static/tests
Owners: none

Add ability to add inlets to base THM physics
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Have an option to retrieve flow channels from parameters
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Add a class for flow channels using Physics
  modules/thermal_hydraulics/include/components/PhysicsFlowChannel.h
  modules/thermal_hydraulics/src/components/PhysicsFlowChannel.C
Owners: none

Add derived class for VACE, THM single phase flow model
  modules/thermal_hydraulics/include/physics/THMVACESinglePhaseFlowPhysics.h
  modules/thermal_hydraulics/src/base/ThermalHydraulicsApp.C
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
Owners: none

Add base class for flow boundaries usuing physics
  modules/thermal_hydraulics/include/components/Component1DBoundary.h
  modules/thermal_hydraulics/include/components/PhysicsFlowBoundary.h
  modules/thermal_hydraulics/src/components/PhysicsFlowBoundary.C
Owners: none

Add mdot T inlet to VACE physics
  modules/thermal_hydraulics/include/physics/THMVACESinglePhaseFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
Owners: none

Add a fixed pressure physics outlet
  modules/thermal_hydraulics/include/components/PhysicsOutlet.h
  modules/thermal_hydraulics/src/components/PhysicsOutlet.C
Owners: none

Generalize 1 phase closure to accept other types of channels
  modules/thermal_hydraulics/include/closures/Closures1PhaseBase.h
  modules/thermal_hydraulics/include/closures/Closures1PhaseSimple.h
  modules/thermal_hydraulics/include/components/FlowChannel1Phase.h
  modules/thermal_hydraulics/include/components/FlowChannelBase.h
  modules/thermal_hydraulics/include/components/PhysicsFlowChannel.h
  modules/thermal_hydraulics/src/closures/Closures1PhaseBase.C
  modules/thermal_hydraulics/src/closures/Closures1PhaseSimple.C
  modules/thermal_hydraulics/src/components/FlowChannelBase.C
Owners: none

only add gravity term for non zero gravity
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
Owners: none

Add first stab at a WCNSFV physics
  modules/thermal_hydraulics/include/physics/THMWCNSFVFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: none

Turn example into a test for VACE
  modules/thermal_hydraulics/test/tests/physics/gold/vace_single_channel_out.e
  modules/thermal_hydraulics/test/tests/physics/tests
  modules/thermal_hydraulics/test/tests/physics/vace_single_channel.i
  modules/thermal_hydraulics/test/tests/physics/wcnsfv_single_channel.i
Owners: none

Add an example
  modules/thermal_hydraulics/test/tests/physics/steady.i
Owners: none

Silence an info message on THM channel setup
  framework/src/auxkernels/ProjectionAux.C
Owners: none

Add a class for mdot - T inlet using Physics
  modules/thermal_hydraulics/include/components/PhysicsInletMassFlowRateTemperature.h
  modules/thermal_hydraulics/src/components/PhysicsInletMassFlowRateTemperature.C
Owners: none

Add a new task to avoid THM initialization task-ordering issue
  modules/thermal_hydraulics/include/physics/THMVACESinglePhaseFlowPhysics.h
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/parser/THMSyntax.C
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Adapt base flow components classes for missing flow channel
  modules/thermal_hydraulics/src/components/FlowBoundary.C
  modules/thermal_hydraulics/src/components/FlowChannel1Phase.C
  modules/thermal_hydraulics/src/components/FlowChannelBase.C
Owners: none

Add outlets to THM flow physics
  modules/thermal_hydraulics/include/physics/THMVACESinglePhaseFlowPhysics.h
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none
