Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @milljm, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @aeslaughter, @zachmprince, @cticenhour, @andrsd, @loganharbour

CODEOWNERS:

/conda @milljm
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @aeslaughter
/framework/*/samplers @aeslaughter @zachmprince
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen


/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

/scripts/hpc_proxy.pac @loganharbour
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong

Don't multiply time derivatives by 2 for Crank-Nicolson
  framework/include/timeintegrators/CrankNicolson.h
  framework/include/timeintegrators/TimeIntegrator.h
  framework/src/systems/NonlinearSystemBase.C
  framework/src/timeintegrators/CrankNicolson.C
Owners: none

Revert "Don't multiply time derivatives by 2 for Crank-Nicolson"
  framework/include/timeintegrators/CrankNicolson.h
  framework/include/timeintegrators/TimeIntegrator.h
  framework/src/systems/NonlinearSystemBase.C
  framework/src/timeintegrators/CrankNicolson.C
Owners: none

Add test
  test/tests/time_integrators/multiple-integrators/gold/test_out.csv
  test/tests/time_integrators/multiple-integrators/test.i
  test/tests/time_integrators/multiple-integrators/test.py
  test/tests/time_integrators/multiple-integrators/tests
Owners: none

Plumbing for multiple time integrators
  framework/include/executioners/Executioner.h
  framework/include/executioners/Transient.h
  framework/include/systems/AuxiliarySystem.h
  framework/include/systems/DisplacedSystem.h
  framework/include/systems/LinearSystem.h
  framework/include/systems/NonlinearSystemBase.h
  framework/include/systems/SystemBase.h
  framework/include/timeintegrators/AStableDirk4.h
  framework/include/timeintegrators/ActuallyExplicitEuler.h
  framework/include/timeintegrators/ExplicitRK2.h
  framework/include/timeintegrators/ExplicitSSPRungeKutta.h
  framework/include/timeintegrators/ExplicitTVDRK2.h
  framework/include/timeintegrators/ImplicitMidpoint.h
  framework/include/timeintegrators/LStableDirk2.h
  framework/include/timeintegrators/LStableDirk3.h
  framework/include/timeintegrators/LStableDirk4.h
  framework/include/timeintegrators/TimeIntegrator.h
  framework/src/actions/SetupTimeIntegratorAction.C
  framework/src/base/Moose.C
  framework/src/executioners/Transient.C
  framework/src/outputs/ConsoleUtils.C
  framework/src/problems/DisplacedProblem.C
  framework/src/problems/FEProblemBase.C
  framework/src/systems/AuxiliarySystem.C
  framework/src/systems/DisplacedSystem.C
  framework/src/systems/LinearSystem.C
  framework/src/systems/NonlinearEigenSystem.C
  framework/src/systems/NonlinearSystem.C
  framework/src/systems/NonlinearSystemBase.C
  framework/src/systems/SolverSystem.C
  framework/src/systems/SystemBase.C
  framework/src/timeintegrators/CrankNicolson.C
  framework/src/timeintegrators/ImplicitEuler.C
  framework/src/timeintegrators/TimeIntegrator.C
  framework/src/timesteppers/AB2PredictorCorrector.C
  framework/src/variables/MooseVariableData.C
  framework/src/variables/MooseVariableDataFV.C
  framework/src/variables/MooseVariableDataLinearFV.C
  framework/src/variables/MooseVariableField.C
  modules/navier_stokes/src/bcs/INSADDisplaceBoundaryBC.C
Owners: @fdkong, @rwcarlsen, @lindsayad, @GiudGiud

sub-vector time derivative calculation
  framework/include/systems/DisplacedSystem.h
  framework/include/systems/SystemBase.h
  framework/include/timeintegrators/TimeIntegrator.h
  framework/src/systems/SystemBase.C
  framework/src/timeintegrators/AStableDirk4.C
  framework/src/timeintegrators/ActuallyExplicitEuler.C
  framework/src/timeintegrators/BDF2.C
  framework/src/timeintegrators/CentralDifference.C
  framework/src/timeintegrators/CrankNicolson.C
  framework/src/timeintegrators/ExplicitEuler.C
  framework/src/timeintegrators/ExplicitRK2.C
  framework/src/timeintegrators/ExplicitSSPRungeKutta.C
  framework/src/timeintegrators/ExplicitTVDRK2.C
  framework/src/timeintegrators/ImplicitEuler.C
  framework/src/timeintegrators/ImplicitMidpoint.C
  framework/src/timeintegrators/LStableDirk2.C
  framework/src/timeintegrators/LStableDirk3.C
  framework/src/timeintegrators/LStableDirk4.C
  framework/src/timeintegrators/NewmarkBeta.C
  framework/src/timeintegrators/TimeIntegrator.C
  framework/src/variables/MooseVariableData.C
  framework/src/variables/MooseVariableDataBase.C
  framework/src/variables/MooseVariableScalar.C
Owners: @rwcarlsen

Set default value of print_linear_converged_reason to false. Ref #0000
  framework/src/actions/CommonOutputAction.C
Owners: none

Changed sub_pc_factor_shift_type to pc_factor_shift_type since the former was an unused option in this test.
  test/tests/mesh/preparedness/test.i
Owners: none

Set default value of absent_out parameter to catch PETSC unused options warning.
  python/TestHarness/testers/RunApp.py
Owners: none

Add changes to libtorch installation isntructions. (#27688)
  modules/doc/content/getting_started/installation/install_libtorch.md
Owners: none

Address Jason's comments. (#27688)
  modules/doc/content/getting_started/installation/install_libtorch.md
Owners: none

Address reviewer comments. (#27688)
  modules/doc/content/getting_started/installation/install_libtorch.md
Owners: none

Add more notes on CPU-only ang GPU linux installation. (#27688)
  modules/doc/content/getting_started/installation/install_libtorch.md
Owners: none

Improve logic for conda mac installation. (#27688)
  scripts/setup_libtorch.sh
Owners: none

WIP: Add `moosetainer` (Apptainer) instructions
  modules/doc/content/getting_started/installation/inl_hpc_install_moose.md
  modules/doc/content/help/inl/hpc_ondemand.md
  modules/doc/content/help/inl/moosetainer.md
Owners: none

WIP awesomeness
  framework/doc/acronyms.yml
  modules/doc/content/application_development/build_system.md
  modules/doc/content/getting_started/installation/build_petsc_and_libmesh.md.template
  modules/doc/content/getting_started/installation/inl_hpc_install_moose.md
  modules/doc/content/getting_started/new_users.md.template
  modules/doc/content/help/faq/apptainer.md
  modules/doc/content/help/faq/index.md
  modules/doc/content/help/inl/hpc_ondemand.md
  modules/doc/content/help/inl/moosetainer.md
  modules/doc/content/ncrc/applications/ncrc_develop.md.template
  modules/doc/content/ncrc/applications/ncrc_runtest.md.template
  modules/doc/content/ncrc/hpc_cluster_information.md
Owners: none

Remove apptainer.md from INL/ help
  modules/doc/content/help/inl/hpc_ondemand.md
Owners: none

Convert to table
  modules/doc/content/help/faq/apptainer.md
Owners: none

Address comments
  framework/doc/acronyms.yml
  modules/doc/content/application_development/build_system.md
  modules/doc/content/getting_started/installation/build_petsc_and_libmesh.md.template
  modules/doc/content/getting_started/installation/inl_hpc_install_moose.md
  modules/doc/content/getting_started/new_users.md.template
  modules/doc/content/help/faq/apptainer.md
  modules/doc/content/help/faq/index.md
  modules/doc/content/ncrc/applications/ncrc_develop.md.template
  modules/doc/content/ncrc/applications/ncrc_runtest.md.template
Owners: none

More grammar and syntax adjustments
  modules/doc/content/application_development/build_system.md
Owners: none

address syntax/grammar
  modules/doc/content/help/faq/apptainer.md
Owners: none

Update heat_conduction to heat_transfer
  modules/doc/content/getting_started/installation/inl_hpc_prebuilt_moose.md
  modules/doc/content/getting_started/installation/workshop_tutorial.md.template
Owners: none

more syntax / grammar changes
  modules/doc/content/help/faq/apptainer.md
  modules/doc/content/help/inl/hpc_ondemand.md
  modules/doc/content/ncrc/hpc_cluster_information.md
Owners: none

more syntax / grammar changes
  modules/doc/content/help/faq/apptainer.md
  modules/doc/content/help/inl/hpc_ondemand.md
  modules/doc/content/ncrc/applications/ncrc_develop.md.template
  modules/doc/content/ncrc/hpc_cluster_information.md
Owners: none

Grammar/Syntax changes, move apptainer to help/inl
  modules/doc/content/application_development/build_system.md
  modules/doc/content/help/faq/index.md
  modules/doc/content/help/inl/apptainer.md
  modules/doc/content/help/inl/hpc_ondemand.md
Owners: none

re-reword 'accordingly' for repo cloning hints
  modules/doc/content/help/inl/apptainer.md
Owners: none

solving compilation issue in dbg Refs #28130
  modules/navier_stokes/include/fvkernels/INSFVTKESDSourceSink.h
Owners: @lindsayad, @GiudGiud

Add simple 1d advection test
  test/tests/dgkernels/interior_penalty_hdg/gold/simple_ip_hdg_advection_out.e
  test/tests/dgkernels/interior_penalty_hdg/simple_ip_hdg_advection.i
  test/tests/dgkernels/interior_penalty_hdg/tests
Owners: none

HDGDiffusionSideBC -> ADHDGSideDirichletBC
  framework/include/bcs/ADHDGAdvectionSideDirichletBC.h
  framework/include/bcs/ADHDGSideDirichletBC.h
  framework/src/bcs/ADHDGAdvectionSideDirichletBC.C
  framework/src/bcs/ADHDGSideDirichletBC.C
  framework/src/bcs/HDGDiffusionSideBC.C
  test/tests/dgkernels/interior_penalty_hdg/mms-advection-diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/mms-diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/simple_ip_hdg_diffusion.i
Owners: none

Add ADHDGAdvection
  framework/include/bcs/ADHDGAdvectionDirichletBC.h
  framework/include/bcs/ADHDGAdvectionSideDirichletBC.h
  framework/include/dgkernels/ADHDGAdvection.h
  framework/include/dgkernels/ADHDGAdvectionSide.h
  framework/src/bcs/ADHDGAdvectionDirichletBC.C
  framework/src/bcs/ADHDGAdvectionSideDirichletBC.C
  framework/src/dgkernels/ADHDGAdvection.C
  framework/src/dgkernels/ADHDGAdvectionSide.C
  test/tests/dgkernels/interior_penalty_hdg/advection-diffusion-compute-functions.py
  test/tests/dgkernels/interior_penalty_hdg/mms-advection-diffusion.i
Owners: none

Implement interior penalty HDG method
  framework/include/bcs/HDGDiffusionBC.h
  framework/include/bcs/HDGDiffusionFluxBC.h
  framework/include/bcs/HDGDiffusionFluxSideBC.h
  framework/include/bcs/HDGDiffusionSideBC.h
  framework/include/dgkernels/ADHDGDiffusion.h
  framework/include/dgkernels/ADHDGDiffusionSide.h
  framework/src/bcs/HDGDiffusionBC.C
  framework/src/bcs/HDGDiffusionFluxBC.C
  framework/src/bcs/HDGDiffusionFluxSideBC.C
  framework/src/bcs/HDGDiffusionSideBC.C
  framework/src/dgkernels/ADHDGDiffusion.C
  framework/src/dgkernels/ADHDGDiffusionSide.C
  test/tests/dgkernels/interior_penalty_hdg/gold/simple_ip_hdg_diffusion_out.e
  test/tests/dgkernels/interior_penalty_hdg/mms-diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/simple_ip_hdg_diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/test.py
  test/tests/dgkernels/interior_penalty_hdg/tests
Owners: none

Add some more flexibility to ADHDGAdvection
  framework/include/dgkernels/ADHDGAdvection.h
  framework/include/dgkernels/ADHDGAdvectionSide.h
  framework/src/dgkernels/ADHDGAdvection.C
  framework/src/dgkernels/ADHDGAdvectionSide.C
Owners: none

Working advection-diffusion mms tests
  test/tests/dgkernels/interior_penalty_hdg/advection-diffusion-compute-functions.py
  test/tests/dgkernels/interior_penalty_hdg/mms-advection-diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/mms-diffusion.i
  test/tests/dgkernels/interior_penalty_hdg/test.py
  test/tests/dgkernels/interior_penalty_hdg/tests
Owners: none

Add more flexibility to ADHDGAdvectionDirichletBC
  framework/include/bcs/ADHDGAdvectionDirichletBC.h
  framework/src/bcs/ADHDGAdvectionDirichletBC.C
Owners: none

Add a 'IsMatrixSymmetric' postprocessor
  test/tests/dgkernels/interior_penalty_hdg/gold/simple_ip_hdg_advection_out.e
  test/tests/dgkernels/interior_penalty_hdg/gold/simple_ip_hdg_diffusion_out.e
  test/tests/dgkernels/interior_penalty_hdg/simple_ip_hdg_advection.i
  test/tests/dgkernels/interior_penalty_hdg/simple_ip_hdg_diffusion.i
Owners: none

IP-HDG NS lid driven test
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/gold/lid-driven_out.e
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/lid-driven.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Successfully created symmetric ip-hdg discretization for stokes
  framework/src/dgkernels/ADHDGAdvection.C
  modules/navier_stokes/include/bcs/ADHDGPressureBC.h
  modules/navier_stokes/include/dgkernels/ADHDGPressure.h
  modules/navier_stokes/src/bcs/ADHDGPressureBC.C
  modules/navier_stokes/src/dgkernels/ADHDGPressure.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/lid-driven.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

lid-driven mms test for ip-hdg
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/lid-compute-functions.py
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/mms-lid-driven.i
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/test.py
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/tests
Owners: @lindsayad, @GiudGiud

Respect user request to ignore matrix zero entries
  framework/src/systems/NonlinearSystemBase.C
Owners: none

Matrix testing
  framework/include/bcs/MassMatrixIntegratedBC.h
  framework/include/dgkernels/MassMatrixDGKernel.h
  framework/src/bcs/MassMatrixIntegratedBC.C
  framework/src/dgkernels/MassMatrixDGKernel.C
  framework/src/interfaces/TaggingInterface.C
  modules/navier_stokes/include/bcs/MassFluxPenaltyBC.h
  modules/navier_stokes/include/dgkernels/MassFluxPenalty.h
  modules/navier_stokes/include/kernels/GradDiv.h
  modules/navier_stokes/include/problems/IPHDGNavierStokesProblem.h
  modules/navier_stokes/src/bcs/MassFluxPenaltyBC.C
  modules/navier_stokes/src/dgkernels/MassFluxPenalty.C
  modules/navier_stokes/src/kernels/GradDiv.C
  modules/navier_stokes/src/problems/IPHDGNavierStokesProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud

IPHDGNavierStokesProblem -> PrintMatricesNSProblem
  modules/navier_stokes/include/problems/PrintMatricesNSProblem.h
  modules/navier_stokes/src/problems/PrintMatricesNSProblem.C
  modules/navier_stokes/test/tests/finite_element/ins/ip-hdg/lid-driven/matrix-testing.i
Owners: @lindsayad, @GiudGiud
