Repository 2lambda123/idaholab-moose, changes with the owners that CODEOWNERS names for each.
All owners: @milljm, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @aeslaughter, @zachmprince, @cticenhour, @andrsd, @loganharbour

CODEOWNERS:

/conda @milljm
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @aeslaughter
/framework/*/samplers @aeslaughter @zachmprince
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen


/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

/scripts/hpc_proxy.pac @loganharbour
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong

Address comments (#26470)
  framework/doc/content/source/base/Capabilities.md
  framework/include/auxkernels/MaterialAuxBase.h
  framework/include/base/MooseApp.h
  framework/include/utils/CapabilityUtils.h
  framework/src/base/Capabilities.C
  framework/src/base/MooseApp.C
  modules/solid_mechanics/examples/cframe_iga/tests
  python/TestHarness/testers/RunApp.py
  python/pycapabilities/tests/tests
  test/tests/misc/required_capabilities/tests
Owners: none

Set dimension to 1 for TH physics Suppress boundary parameters
  framework/include/physics/PhysicsBase.h
  modules/thermal_hydraulics/include/physics/THMWCNSFVFlowPhysics.h
  modules/thermal_hydraulics/src/base/ThermalHydraulicsApp.C
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: none

Switch to virtual inheritance for physics to allow a physics to derive both from THM & NS physics
  modules/navier_stokes/include/physics/NavierStokesPhysicsBase.h
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/navier_stokes/src/physics/WCNSFVFluidHeatTransferPhysics.C
  modules/navier_stokes/src/physics/WCNSFVScalarTransportPhysics.C
  modules/navier_stokes/src/physics/WCNSFVTurbulencePhysics.C
  modules/navier_stokes/src/physics/WCNSFVTwoPhaseMixturePhysics.C
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Add support for setting BCs from components, with a default set at the Physics
  framework/include/physics/PhysicsBase.h
  framework/src/physics/PhysicsBase.C
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Remove trivial override of addUserObject This is better, if someone adds addUO in the TH physics base class, it wont compile until they clear the non-trivial override
  modules/thermal_hydraulics/include/physics/THMWCNSFVFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: none

coarse mesh was used for the pinched cylinder test
  modules/solid_mechanics/test/tests/shell/static/gold/pinched_cylinder_symm_unstructured_out.e
  modules/solid_mechanics/test/tests/shell/static/pinched_cyl_10_10_unstructured.msh
  modules/solid_mechanics/test/tests/shell/static/pinched_cyl_40_40_unstructured.msh
  modules/solid_mechanics/test/tests/shell/static/pinched_cylinder_symm_unstructured.i
Owners: none

Forward adding variable from problem to simulation
  modules/thermal_hydraulics/include/problems/THMProblem.h
  modules/thermal_hydraulics/src/problems/THMProblem.C
Owners: none

Add an option for adding inlet & outlet BCs to wcnsfv physics from the components
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Move addFEBCs down to the specialized VACE class as the WCNSFV THM physics does not use it
  modules/thermal_hydraulics/include/physics/THMVACESinglePhaseFlowPhysics.h
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
  modules/thermal_hydraulics/src/physics/ThermalHydraulicsFlowPhysics.C
Owners: none

Centralize list of valid WCNSFV inlet/outlet types
  modules/navier_stokes/include/base/NSFVBase.h
  modules/navier_stokes/src/base/NSFVBase.C
Owners: @lindsayad, @GiudGiud

Make inherited object creation routines protected Add more options for adding inlet boundaries Use _has_flow_boundaries in RC UO checks
  modules/navier_stokes/include/physics/WCNSFVFlowPhysics.h
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
Owners: @lindsayad, @GiudGiud

Silence inlet area PPs output by default
  modules/thermal_hydraulics/include/physics/THMWCNSFVFlowPhysics.h
  modules/thermal_hydraulics/src/physics/THMWCNSFVFlowPhysics.C
Owners: none

Add option to specify lower dimension for RC UO and flux BCs
  modules/navier_stokes/src/fvbcs/WCNSFVFluxBCBase.C
  modules/navier_stokes/src/physics/WCNSFVFlowPhysics.C
  modules/navier_stokes/src/userobjects/RhieChowInterpolatorBase.C
Owners: @lindsayad, @GiudGiud

Add variables used in THM problems consistently through the Simulation class
  modules/thermal_hydraulics/include/problems/THMProblem.h
  modules/thermal_hydraulics/src/problems/THMProblem.C
Owners: none

Adapt VACE and wcnsfv single-channel input for new channel-driven physics input
  modules/thermal_hydraulics/test/tests/physics/vace_single_channel.i
  modules/thermal_hydraulics/test/tests/physics/wcnsfv_single_channel.i
Owners: none

Add support for a TH free boundary using Physics
  modules/thermal_hydraulics/include/components/PhysicsFreeBoundary.h
  modules/thermal_hydraulics/include/physics/ThermalHydraulicsFlowPhysics.h
  modules/thermal_hydraulics/src/components/PhysicsFreeBoundary.C
  modules/thermal_hydraulics/src/physics/THMVACESinglePhaseFlowPhysics.C
Owners: none

Transition PBS exeuction to RunParallel
  .gitignore
  python/TestHarness/JobDAG.py
  python/TestHarness/TestHarness.py
  python/TestHarness/runners/PBSRunner.py
  python/TestHarness/runners/Runner.py
  python/TestHarness/runners/SubprocessRunner.py
  python/TestHarness/schedulers/Job.py
  python/TestHarness/schedulers/QueueManager.py
  python/TestHarness/schedulers/RunPBS.py
  python/TestHarness/schedulers/RunParallel.py
  python/TestHarness/schedulers/Scheduler.py
  python/TestHarness/schedulers/pbs_source_apptainer
  python/TestHarness/schedulers/pbs_template
  python/TestHarness/testers/AnalyzeJacobian.py
  python/TestHarness/testers/CSVDiff.py
  python/TestHarness/testers/CheckFiles.py
  python/TestHarness/testers/Exodiff.py
  python/TestHarness/testers/FileTester.py
  python/TestHarness/testers/ImageDiff.py
  python/TestHarness/testers/PythonUnitTest.py
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/RunCommand.py
  python/TestHarness/testers/RunException.py
  python/TestHarness/testers/SignalTester.py
  python/TestHarness/testers/Tester.py
  python/TestHarness/testers/bench.py
  python/TestHarness/util.py
Owners: none

Revert to old behavior for getCommand()
  python/TestHarness/TestHarness.py
  python/TestHarness/runners/SubprocessRunner.py
  python/TestHarness/schedulers/RunPBS.py
  python/TestHarness/testers/AnalyzeJacobian.py
  python/TestHarness/testers/CheckFiles.py
  python/TestHarness/testers/PythonUnitTest.py
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/RunCommand.py
  python/TestHarness/testers/Tester.py
Owners: none

Skip unsupported capability
  python/TestHarness/testers/RunApp.py
Owners: none

Separate out how commands are ran
  python/TestHarness/runners/Runner.py
  python/TestHarness/runners/SubprocessRunner.py
  python/TestHarness/schedulers/Job.py
  python/TestHarness/schedulers/RunParallel.py
  python/TestHarness/testers/AnalyzeJacobian.py
  python/TestHarness/testers/RunApp.py
  python/TestHarness/testers/RunCommand.py
  python/TestHarness/testers/SignalTester.py
  python/TestHarness/testers/Tester.py
Owners: none

Remove SpeedTest
  modules/doc/content/application_development/index.md
  modules/doc/content/application_development/performance_benchmarking.md
  modules/doc/content/getting_started/examples_and_tutorials/tutorial01_app_development/step07_parallel.md
  modules/doc/content/infrastructure/index.md
  python/TestHarness/TestHarness.py
  python/TestHarness/testers/bench.py
  test/tests/kernels/simple_diffusion/speedtests
  test/tests/kernels/simple_transient_diffusion/speedtests
Owners: none

Remove unused include
  python/TestHarness/schedulers/RunPBS.py
Owners: none

Fix mpi command parse
  python/TestHarness/schedulers/RunPBS.py
Owners: none

Fix quotes
  python/TestHarness/schedulers/RunPBS.py
Owners: none

Check for shouldExecute() now because exit code could be None
  python/TestHarness/testers/RunApp.py
Owners: none

Catch early errors
  python/TestHarness/schedulers/pbs_template
Owners: none

Skip unit tests on PBS
  python/TestHarness/testers/PythonUnitTest.py
Owners: none

Only skip for parallel apptainer
  python/TestHarness/testers/PythonUnitTest.py
Owners: none

Remove extraneous quotes
  test/tests/postprocessors/find_value_on_line/tests
Owners: none

Load the contents into the submission instead of source
  python/TestHarness/schedulers/RunPBS.py
  python/TestHarness/schedulers/pbs_template
Owners: none

Correct callback
  python/TestHarness/testers/SignalTester.py
Owners: none

Add missing postSpawn call
  python/TestHarness/testers/Tester.py
Owners: none

Only use terminal_size if we can
  python/TestHarness/util.py
Owners: none

Set MOOSE PYTHONPATH in the template
  python/TestHarness/schedulers/RunPBS.py
  python/TestHarness/schedulers/pbs_template
  python/TestHarness/testers/PythonUnitTest.py
Owners: none

Try to find a key to use
  python/TestHarness/schedulers/RunPBS.py
Owners: none

Forcefully set the output when the job dies early
  python/TestHarness/schedulers/Job.py
  python/TestHarness/schedulers/RunParallel.py
Owners: none

Add search for testers from app scripts
  python/TestHarness/TestHarness.py
Owners: none

Call correct member
  python/TestHarness/runners/SubprocessRunner.py
Owners: none

Install testers if they exist
  framework/app.mk
  framework/moose.mk
Owners: none

Fix parameter quotes
  modules/ray_tracing/test/tests/actions/add_raybc_action/tests
  modules/ray_tracing/test/tests/actions/add_raykernel_action/tests
Owners: @loganharbour
